body > div {
    display: flex;
}

body > div > div {
    width: 33%;
}

div {
    border: 2px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table > th,
table td {
    border: 1px solid black;
}