<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>로그인 페이지</title>

</head>

<body>
	<div th:replace="~{/header.html::header}"></div>
	<form>
		아이디: <input id="id" /><br>
		비밀번호: <input id="pw" /><br>
		<button onclick="doLogin()" type="button">로그인</button>
	</form>

	<!-- 아이디 찾기 -->
	<button onclick="findId()" type="button">아이디 찾기</button>

	<!-- 비밀번호 찾기 -->
	<button onclick="findPw()" type="button">비밀번호 찾기</button>

	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/js/member/login.js"></script>
	<div th:replace="~{/footer.html::footer}"></div>
</body>

</html>