<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>회원가입 페이지</title>

</head>

<body>
	<div th:replace="~{/header.html::header}"></div>
	회원가입 페이지
	<form>
		아이디: <input id="id" /><br>
		비밀번호: <input id="pw" /><br>
		이름: <input id="name" /><br>
		이메일: <input id="email" /><br>
		연락처: <input id="phone" /><br>
		<button onclick="doSignup()" type="button">회원가입</button>
	</form>
	<script src="/js/member/signup.js"></script>
	<div th:replace="~{/footer.html::footer}"></div>

</body>

</html>